<div class="profile-card" *ngIf="member">
    <img class="profile-image" src="{{ member.photoUrl }}" alt="{{ member.knowAs }}">
    <div class="profile-details">
      <div class="profile-name">{{ member.knowAs }}, {{member.age}}</div>
      <div class="profile-location">{{ member.city }}, {{ member.country }}</div>
      <div class="profile-icons" *ngIf="withIcons">
        <mat-icon [routerLink]="['/members/', member.userName]" >person</mat-icon>
        <mat-icon (click)="addLike(member)" >favorite</mat-icon>
        <mat-icon>comment</mat-icon>
      </div>
    </div>
  </div>
  