.member-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; // Ensure children stretch to the height of the container

  .member-detail {
    flex: 0 0 300px; // Adjust as needed
    max-width: 300px; // Ensure it doesn't exceed this width
    margin: 1rem;
    display: flex;
    flex-direction: column; // Stack children vertically
    height: 100%; // Take full height of parent container
  }
  @media (max-width: 600px) {
    .member-detail {
      width: 100%; // Ensure it doesn't exceed this width
      display: flex;
      flex-direction: column; // Stack children vertically
      height: 550px; // Take full height of parent container
      margin-left: auto;
      margin-right: auto;
    }
  }


  .member-details-tab {
    flex: 1; // Take the remaining space
    margin: 1rem;
    display: flex;
    flex-direction: column; // Stack children vertically
    height: 100%; // Take full height of parent container
  }
}

.member-detail {
  .profile-card {
    height: 800px; // Set a specific height for the profile card
    display: flex;
    flex-direction: column; // Stack children vertically
    justify-content: space-between; // Distribute space between elements
    max-width: 100%; // Use full available width
    margin: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #ddd; // Add border to profile card
    border-radius: 8px; // Optional: Add rounded corners

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .profile-image {
      width: 50%;
      padding-top: 50%;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
      border: 2px solid #ddd; // Add border around profile image
    }

    mat-card-header {
      display: flex;
      align-items: center;
      flex-direction: column;

      .mat-card-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
      }

      .mat-card-subtitle {
        font-size: 1rem;
        color: #555;
      }
    }

    mat-card-content{
      p{
        mat-icon {
          color: green;
          font-size: 20px;
        }
      }
    }

    mat-card-actions {
      display: flex;
      justify-content: space-between;
      margin-top: auto; // Ensure actions are pushed to the bottom

      mat-icon {
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s ease;
        color: #007bff;

        &:hover {
          color: #f30303;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .profile-card {
      width: 100%;
      margin: 0.5rem;
      height: auto; // Adjust height on small screens

      .profile-image {
        width: 100%; // Adjust width on small screens
        padding-top: 100%; // Ensure aspect ratio
      }

      mat-card-header {
        flex-direction: column;
        align-items: center;

        .mat-card-title,
        .mat-card-subtitle {
          text-align: center;
        }
      }

      mat-card-actions {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
