.member-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .filter-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    form {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap; 
      gap: 16px; 
      width: 100%; 
      max-width: 1000px; 
      margin-left: auto;
      margin-right: auto;

      mat-form-field {
        flex: 1 1 200px; 
        max-width: 300px;
        display: flex;
        position: relative;

        mat-error {
          position: absolute;
          bottom: -24px; 
          left: 0;
          width: 100%;
          color: red;
          font-size: 0.75rem; 
        }
      }

      .button-container {
        display: flex;
        gap: 16px;
        width: 100%;
        justify-content: center;
        margin-top: 16px;
      }
    }
  }

  .error-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 16px; 

    mat-error.full-width-error {
      width: 100%;
      text-align: center; 
      color: red;
      font-size: 0.75rem;
    }
  }

  .members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;

    app-member-card {
      width: 100%;
      max-width: 300px;
    }
  }

  .paginator-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
  }

  @media (max-width: 600px) {
    .filter-container {
      form {
        flex-direction: column;
        align-items: center;
        padding: 0; // Remove extra padding
        margin-left: auto;
        margin-right: auto;
        gap: 8px;
        width: 100%;
        max-width: 100%;
  
        mat-form-field {
          flex: none;
          width: 100%; // Full width minus the desired space on both sides
          //margin: 0 5px 5px 5px; // Add 5px margin to the left, right, and bottom
        }
  
        .button-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          width: 80%; // Full width minus the desired space on both sides
          margin: 0 10px; // Add 10px margin to the left and right
  
          button {
            width: 100%;
          }
        }
      }
    }
  }
  
}
