<section >
    <form 
         fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap = 10px
          #f ="ngForm"
          (ngSubmit)="onSubmit(f)"
          >
        <mat-form-field>
            <input type="text"
                matInput
                placeholder="Your name"
                ngModel
                name="name"
                required
                #nameInpit = "ngModel"
            >
            <!-- <mat-error  *ngIf="emailInpit.hasError('email')">E-mail is invalid</mat-error> -->
            <mat-error *ngIf="nameInpit.hasError('required')" >Field must not be empty</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long">
            <input type="password"
                matInput
                placeholder="Your password"
                ngModel
                name="password"
                minlength="6"
                required
                #pwInput = "ngModel"
            >
            <mat-hint align="end" >{{pwInput.value?.length}}/6 </mat-hint>
        </mat-form-field>

        <button *ngIf="!isLoading" [disabled]="f.invalid" mat-raised-button type="submit" color="primary" >
            Submit
        </button>
          
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        
    </form>
    <div fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap = 10px style="margin-top: 10px;" >
    <button   mat-flat-button color="accent" (click)="loginJeri()" >
         Jeri
    </button>

    <button   mat-flat-button color="primary" (click)="loginAdmin()" >
        Admin
   </button>

    <button   mat-flat-button color="warn" (click)="loginHughes()" >
        Hughes
   </button>

    </div>
</section>
